name: Terraform Deployment

on:
  push:
    branches:
      - develop
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.8.3

      - name: Terraform Init
        run: |
          cd infra && terraform init \
            -backend-config="bucket=${{ env.TERRAFORM_S3_STATEFILE_BUCKET }}" \
            -backend-config="${{ github.event.repository.name }}" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="dynamodb_table=${{ env.TERRAFORM_DYNAMODB_LOCK_TABLE }}"

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Create/Select Dev Workspace
        if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
        id: select-dev-workspace
        run: |
          terraform workspace list | grep -q "dev" || terraform workspace new dev
          terraform workspace select dev

      - name: Terraform Plan for Dev
        if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
        id: terraform-plan-dev
        run: terraform plan -var-file="./envs/dev/terraform.tfvars" -out=dev.plan

      - name: Terraform Apply for Dev
        id: terraform-apply-dev
        if: github.ref == 'refs/heads/develop' && github.event_name == 'push'
        run: terraform apply dev.plan --auto-approve

      - name: Terraform Create/Select Prod Workspace
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        id: select-prod-workspace
        run: |
          terraform workspace list | grep -q "prod" || terraform workspace new prod
          terraform workspace select prod

      - name: Terraform Plan for Prod
        id: terraform-plan-prod
        run: terraform plan -var-file="./envs/prod/terraform.tfvars" -out=prod.plan

      - name: Terraform Apply for Prod
        id: terraform-apply-prod
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply prod.plan --auto-approve